<!DOCTYPE html>
<html lang="no">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
        rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <title>Johannes Leite</title>
</head>

<body class="bg-light">
    <div class="text-end">
        <img id="langToggle" src="img/langNO.svg" alt="Velg språk" onclick="changeLanguage()">
        <i id="darkToggle" class="fa-solid fa-moon interactive" title="Dark mode" onclick="toggleDarkMode()"></i>
    </div>

    <div class="container">
        <div class="row justify-content-center">
            <div class="card h-100 me-sm-1 col-sm-3 rounded-0 border-0 p-0 shadow-sm leftCont ">
                <img src="img/cvjohannessquarelg.jpg" class="card-img-top rounded-0" alt="portrait">
                <div class="card-body text-center p-0">
                    <p class="card-text cardBox m-0">
                        <a href="https://www.linkedin.com/in/johannesleite/" title="LinkedIn profile"><i class="fa-brands fa-linkedin interactive cardIcons"></i></a>
                        <a href="https://github.com/johannesleite" title="Github profile"><i class="fa-brands fa-github interactive cardIcons"></i></a>
                        <a href="mailto:leite.johannes@gmail.com" title="Email address"><i class="fa-solid fa-envelope interactive cardIcons"></i></a>
                    </p>
                    <div class="card-body text-start">
                        <h4>Johannes Leite</h4>
                        <p><%= lang.itStudent %></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-8 ms-sm-1 mb-5 pb-5 shadow-sm mainCont">
                <div class="sub py-3">
                    <h1 class="text-center"><%= lang.experience %></h1>
                    <div class="textGroup skillBox row offset-1">
                        <div class="col-6">
                            <p class="workplace"><i class="fa-brands fa-js workIcons"></i>Javascript web dev</p>
                        </div>
                        <div class="col-6">
                            <p class="workplace"><i class="fa-brands fa-java workIcons"></i>Java development</p>
                        </div>
                        <div class="col-6">
                            <p class="workplace"><i class="fa-brands fa-node-js workIcons"></i>Node server-side
                                development</p>
                        </div>
                        <div class="col-6">
                            <p class="workplace"><i class="fa-solid fa-database workIcons"></i>SQL and PL/SQL</p>
                        </div>
                    </div>
                </div>

                <div class="sub py-3"> 
                    <h1 class="text-center"><%= lang.work %></h1>
                    <div class="textGroup row">
                        <div class="col-4 text-end">
                            <p>2023 - <%= lang.current %></p>
                        </div>
                        <div class="col-8">
                            <p><span data-bs-toggle="tooltip" data-bs-title="<%= lang.bachelorTooltip %>"><strong ><%= lang.bachelor %></strong><sup>🛈</sup></span></p>
                            <p class="workplace">Norkart AS</p>
                        </div>
                    </div>
                    <div class="textGroup row">
                        <div class="col-4 text-end">
                            <p>2022 - 2022</p>
                        </div>
                        <div class="col-8">
                            <p><span data-bs-toggle="tooltip" data-bs-title="<%= lang.internTooltip %>"><strong><%= lang.intern %></strong><sup>🛈</sup></span></p>
                            <p class="workplace">Sikri AS</p>
                        </div>
                    </div>
                    <div class="textGroup row">
                        <div class="col-4 text-end">
                            <p>2016 - <%= lang.current %></p>
                        </div>
                        <div class="col-8">
                            <p><strong><%= lang.social %></strong></p>
                            <p class="workplace">Bjørn Farmannsgate 10 - Bofellesskap PUH</p>
                        </div>
                    </div>
                    <div class="textGroup row">
                        <div class="col-4 text-end">
                            <p>2017 - <%= lang.current %></p>
                        </div>
                        <div class="col-8">
                            <p><strong>Modder</strong></p>
                            <p class="workplace">Leitemods</p>
                        </div>
                    </div>
                    <div class="textGroup row">
                        <div class="col-4 text-end">
                            <p>2018 - 2019</p>
                        </div>
                        <div class="col-8">
                            <p><strong><%= lang.social %></strong></p>
                            <p class="workplace">Stendi Norge</p>
                        </div>
                    </div>
                    <div class="textGroup row">
                        <div class="col-4 text-end">
                            <p>2012 - 2015</p>
                        </div>
                        <div class="col-8">
                            <p><strong><%= lang.store %></strong></p>
                            <p class="workplace"><%= lang.summer %></p>
                        </div>
                    </div>
                </div>
                <div class="sub py-3">
                    <h1 class="text-center"><%= lang.education %></h1>
                    <div class="textGroup row">
                        <div class="col-4 text-end">
                            <p>2020 - <%= lang.current %></p>
                        </div>
                        <div class="col-8">
                            <p><strong><%= lang.itandinformation %></strong></p>
                            <p class="workplace"><%= lang.uniAgder %></p>
                        </div>
                    </div>
                    <div class="textGroup row">
                        <div class="col-4 text-end">
                            <p>2015 - 2018</p>
                        </div>
                        <div class="col-8">
                            <p><strong><%= lang.socialBachelor %></strong></p>
                            <p class="workplace"><%= lang.uniStavanger %></p>
                        </div>
                    </div>
                    <div class="textGroup row">
                        <div class="col-4 text-end">
                            <p>2013 - 2014</p>
                        </div>
                        <div class="col-8">
                            <p><strong><%= lang.music %></strong></p>
                            <p class="workplace">Nordhordland Folkehøgskole</p>
                        </div>
                    </div>
                    <div class="textGroup row">
                        <div class="col-4 text-end">
                            <p>2010 - 2013</p>
                        </div>
                        <div class="col-8">
                            <p><strong><%= lang.mediaAndCom %></strong></p>
                            <p class="workplace">Tangen videregående skole</p>
                        </div>
                    </div>
                </div>
                <div class="row sub py-2 text-center">
                    <h2 class="col"><%= lang.languages %></h2>
                    <h2 class="col"><%= lang.references %></h2>
                    <div class="textGroup row">
                        <div class="col ps-5 text-start">
                            <p><%= lang.norwegian %></p>
                            <p><%= lang.english %></p>
                        </div>
                        <div class="col ps-5 text-start">
                            <p><%= lang.provided %></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/92cb20bec9.js" crossorigin="anonymous"></script>
    <script src="scripts.js"></script>
    <script src="app.js"></script>
</body>



</html>